<footer class="footer-wrapper" data-theme="light">
  <a href="/albums.html">
    <i class="fab fa-creative-commons-sampling sampling-log"></i>
  </a>
  <a href="/playlist.html">
    <i class="fas fa-microphone-alt microphone-logo"></i>
  </a>
  <a href="/index.html"><i class="fas fa-bullseye bullseye-logo fa-3x"></i></a>
  <i id="themeBtn" class="fas fa-adjust adjust-logo"></i>
  <a href="/categories.html">
    <i class="fas fa-folder-open settings-logo"></i>
  </a>
</footer>
