<header class="header-wrapper">
        <i class="fas fa-angle-left left-arrow-logo"></i>
        <h1 class="featured-heading">Featured</h1>
        <i class="fas fa-search search-logo"></i>
</header>