<header class="header-wrapper" data-theme="light">
  <i id="backBtn" class="fas fa-angle-left left-arrow-logo"></i>
  <h1 id="heading" class="featured-heading">Featured</h1>
  <i id="searchLoop" class="fas fa-search search-logo"></i>
</header>
<script src="/assets/javascript/header.js"></script>
