<%- include ('../partials/head.ejs') -%>
<%- include ('../partials/header.ejs') -%> 

    <main>
        <h1 class="albumsdetail-heading">Albums Detail</h1>
        <img src="/assets/image/shooter.jpeg" alt="">
    </main>

<%- include ('../partials/footer.ejs') -%>
<%- include ('../partials/after-footer.ejs') -%> 