<%- include ('../partials/head.ejs') -%>
<%- include ('../partials/header.ejs') -%> 

    <main>
        <h1 class="albums-heading">All Albums</h1>
        <div class="heading-wrapper">
            <h2 class="albums-featured-heading">Featured Albums</h2>
            <div class="wiev-all-link">Wiev All</div>
        </div>
        <section class="cover-section-wrapper">
            <img class="album-cover-image" src="http://via.placeholder.com/130x130" alt="">
            <img class="album-cover-image" src="http://via.placeholder.com/130x130" alt="">
        </section>
        <div class="new-releases-wrapper">
            <h2 class="new-releases-heading">New Releases</h2>
            <div class="wiev-all-link">Wiev All</div>
        </div>
        
            <div class="albums-songs-wrapper">
                <img class="album-cover-image" src="http://via.placeholder.com/50x50" alt="">
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="number-of-songs">12 Songs</div>
            </div>
            <div class="albums-songs-wrapper">
                <img class="album-cover-image" src="http://via.placeholder.com/50x50" alt="">
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="number-of-songs">12 Songs</div>
            </div>
            <div class="albums-songs-wrapper">
                <img class="album-cover-image" src="http://via.placeholder.com/50x50" alt="">
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="number-of-songs">12 Songs</div>
            </div>
            <div class="albums-songs-wrapper">
                <img class="album-cover-image" src="http://via.placeholder.com/50x50" alt="">
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="number-of-songs">12 Songs</div>
            </div>
     
    </main>

<%- include ('../partials/footer.ejs') -%>
<%- include ('../partials/after-footer.ejs') -%> 