<%- include ('../partials/head.ejs') -%>
    
<header class="player-header">
    <i class="fas fa-angle-left left-arrow-logo-player"></i>
        <h1 class="featured-heading">Playing</h1>
</header>
    <main class="player-main">
        <img class="backgr-albumsdetail-img" src="/assets/image/pexels-photo-1771305.png" alt="">
        <h1 class="head-test">Old Time Road</h1>
        <p class="twelve-songs">12 Songs</p>
        <p class="genres-hashtag">Genres Hashtag</p>
        <div class="details-btn-wrapper">
            <button class="country-btn">#Country</button>
            <button class="country-road-btn">#Country Road</button>
        </div>
        <div class="play-wrapper">
            <div class="albums-detail-songs-wrapper">
                <i class="fas fa-play-circle play-btn"></i>
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="songs-playtime">3:57</div>
            </div>
            <div class="albums-detail-songs-wrapper">
                <i class="fas fa-play-circle play-btn"></i>
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="songs-playtime">3:57</div>
            </div>
            <div class="albums-detail-songs-wrapper">
                <i class="fas fa-play-circle play-btn"></i>
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="songs-playtime">3:57</div>
            </div>
            <div class="albums-detail-songs-wrapper">
                <i class="fas fa-play-circle play-btn"></i>
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="songs-playtime">3:57</div>
            </div>
            <div class="albums-detail-songs-wrapper">
                <i class="fas fa-play-circle play-btn"></i>
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="songs-playtime">3:57</div>
            </div>
            <div class="albums-detail-songs-wrapper">
                <i class="fas fa-play-circle play-btn"></i>
                    <div class="artist-song-wrapper">
                        <div class="artist-name-wrapper">
                            <p class="songs-name">Old Town Road</p>
                            <p class="artist-name">Billy Ray Cyrus</p>
                        </div>
                    </div>
                <div class="songs-playtime">3:57</div>
            </div>
        </div>
    </main>

    <%- include ('../partials/after-footer.ejs') -%> 