<%- include ('../partials/head.ejs') -%>
<%- include ('../partials/header.ejs') -%> 

    <main>
        <h1 class="cat-heading">Categories</h1>
            <div class="btn-wrapper">
                <button class="cat-btn alternativ">Alternative</button>
                <button class="cat-btn blues">Blues</button>
                <button class="cat-btn clasical">Clasical</button>
                <button class="cat-btn country">Country</button>
                <button class="cat-btn dance">Dance</button>
                <button class="cat-btn electronic">Electronic</button>
                <button class="cat-btn fitness">Fitness &amp Workout</button>
                <button class="cat-btn hip-hop">Hip Hop/Rap</button>
                <button class="cat-btn industrial">Industrial</button>
            </div>
           <!--  <div id="dropdown" class="dropdown-content">
                <a href="#">Acoustic Blues</a>
                <a href="#">Blues Rock</a>
                <a href="#">Canadian blues</a>
                <a href="#">Jazz blues</a>
                <a href="#">Piano blues</a>
                <a href="#">Soul blues</a>
                <a href="#">Swamp blues</a>
            </div> -->
    </main>
<script src="/src/javascript/categories.js"></script>
<%- include ('../partials/footer.ejs') -%>
<%- include ('../partials/after-footer.ejs') -%> 