<%- include ('../partials/head.ejs') -%> <%- include ('../partials/header.ejs')
-%>

<main>
  <h1 class="feat-heading">Featured</h1>
  <div id="test" class="placeholder-wrapper">
    <!-- template -->
  </div>
</main>
<script src="/assets/javascript/get-spotify-token.js"></script>
<script src="/assets/javascript/get-featured.js"></script>
<script src="/assets/javascript/index.js"></script>

<%- include ('../partials/footer.ejs') -%> <%- include
('../partials/after-footer.ejs') -%>

<template id="temp-placeholder">
  <img
    class="cover-placeholder"
    src="http://via.placeholder.com/325x425"
    alt=""
  />
</template>
