<%- include ('../partials/head.ejs') -%>
<%- include ('../partials/header.ejs') -%> 

    <main>
        <h1 class="feat-heading">Featured</h1>
            <div class="placeholder-wrapper">
                <img class="cover-placeholder" src="http://via.placeholder.com/325x425" alt="">
                <img class="cover-placeholder" src="http://via.placeholder.com/325x425" alt="">
            </div>
    </main>

<%- include ('../partials/footer.ejs') -%>
<%- include ('../partials/after-footer.ejs') -%> 


