<%- include ('../partials/head.ejs') -%>
<%- include ('../partials/header.ejs') -%> 

    <main>
        <!-- <img class="sound-wave" src="/assets/image/sound-wave.svg" alt=""> -->
        <h1 class="play-heading">Playlist</h1>
        <div class="title-of-playlist"> 
            <p class="top-50">Top 50</p>
            <p class="rock-ballads">Rock Ballads</p>
        </div>
        <div class="albums-songs-wrapper">
            <i class="fas fa-play-circle play-btn"></i>
                <div class="artist-song-wrapper">
                    <div class="artist-name-wrapper">
                        <p class="songs-name">Old Town Road</p>
                        <p class="artist-name">Billy Ray Cyrus</p>
                    </div>
                </div>
            <div class="songs-playtime">3:57</div>
        </div>
        <div class="albums-songs-wrapper">
            <i class="fas fa-play-circle play-btn"></i>
                <div class="artist-song-wrapper">
                    <div class="artist-name-wrapper">
                        <p class="songs-name">Old Town Road</p>
                        <p class="artist-name">Billy Ray Cyrus</p>
                    </div>
                </div>
            <div class="songs-playtime">3:57</div>
        </div>
        <div class="albums-songs-wrapper">
            <i class="fas fa-play-circle play-btn"></i>
                <div class="artist-song-wrapper">
                    <div class="artist-name-wrapper">
                        <p class="songs-name">Old Town Road</p>
                        <p class="artist-name">Billy Ray Cyrus</p>
                    </div>
                </div>
            <div class="songs-playtime">3:57</div>
        </div>
        <div class="albums-songs-wrapper">
            <i class="fas fa-play-circle play-btn"></i>
                <div class="artist-song-wrapper">
                    <div class="artist-name-wrapper">
                        <p class="songs-name">Old Town Road</p>
                        <p class="artist-name">Billy Ray Cyrus</p>
                    </div>
                </div>
            <div class="songs-playtime">3:57</div>
        </div>
        <div class="albums-songs-wrapper">
            <i class="fas fa-play-circle play-btn"></i>
                <div class="artist-song-wrapper">
                    <div class="artist-name-wrapper">
                        <p class="songs-name">Old Town Road</p>
                        <p class="artist-name">Billy Ray Cyrus</p>
                    </div>
                </div>
            <div class="songs-playtime">3:57</div>
        </div>
        <div class="albums-songs-wrapper">
            <i class="fas fa-play-circle play-btn"></i>
                <div class="artist-song-wrapper">
                    <div class="artist-name-wrapper">
                        <p class="songs-name">Old Town Road</p>
                        <p class="artist-name">Billy Ray Cyrus</p>
                    </div>
                </div>
            <div class="songs-playtime">3:57</div>
        </div>
        <button class="listen-all">Listen All</button>
    </main>

<%- include ('../partials/footer.ejs') -%>
<%- include ('../partials/after-footer.ejs') -%> 