<%- include ('../partials/head.ejs') -%> <%- include ('../partials/header.ejs')
-%>

<!-- <header class="player-header">
    <i class="fas fa-angle-left left-arrow-logo-player"></i>
        <h1 class="featured-heading">Playing</h1>
</header> -->
<main class="player-main">
  <img
    class="backgr-player-img"
    src="/assets/image/pexels-photo-1771305.png"
    alt=""
  />
  <img
    class="inner-pic-circle"
    src="/assets/image/pexels-photo-1727280.png"
    alt=""
  />
  <img class="out-circle" src="/assets/image/Group 413.svg" alt="" />
  <div class="artisto-wrapper">
    <p class="songs-name">Dont Call Me Up</p>
    <p>Marbel</p>
  </div>
  <div class="time-line">
    <img class="time-line-red" src="/assets/image/Path 652.png" alt="" />
    <img class="opacity-dot" src="/assets/image/Ellipse 3.png" alt="" />
    <img class="mini-dot" src="/assets/image/Ellipse 4.png" alt="" />
    <div class="time-wrapper">
      <p class="start-time">0:00</p>
      <p class="end-time">3:42</p>
    </div>
  </div>
  <div class="play-btn-wrapper">
    <img src="/assets/image/_ionicons_svg_ios-skip-backward.svg" alt="" />
    <img src="/assets/image/_ionicons_svg_ios-rewind.svg" alt="" />
    <img src="/assets/image/_ionicons_svg_ios-play.svg" alt="" />
    <img src="/assets/image/_ionicons_svg_ios-fastforward.svg" alt="" />
    <img src="/assets/image/_ionicons_svg_ios-skip-forward.svg" alt="" />
  </div>
</main>

<%- include ('../partials/after-footer.ejs') -%>
