/* Imports */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* Base */
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $secondaryColor;
  color: $currentColor;
  transition: ease-in-out 1s;
}

html[data-theme="dark"] {
  background-color: $currentColor;
  color: $secondaryColor;
  transition: ease-in-out 1s;
}
html[data-theme="light"] {
  background-color: $secondaryColor;
  color: $currentColor;
  transition: ease-in-out 1s;
}
footer[data-theme="dark"] {
  background-color: $currentColor;
  color: $secondaryColor;
  transition: ease-in-out 1s;
}
footer[data-theme="light"] {
  background-color: $secondaryColor;
  color: $currentColor;
  transition: ease-in-out 1s;
}
/* header[data-theme="dark"] {
  background-color: $currentColor;
  color: $secondaryColor;
  transition: ease-in-out 1s;
}
header[data-theme="light"] {
  background-color: $secondaryColor;
  color: $currentColor;
  transition: ease-in-out 1s;
} */

body {
  font-family: "Poppins", sans-serif;
}
