.footer-wrapper {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: -1px 1px 37px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 37px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 37px -1px rgba(0, 0, 0, 0.75);
}

.sampling-log {
  background: -webkit-linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.microphone-logo {
  background: -webkit-linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bullseye-logo {
  background: -webkit-linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.adjust-logo {
  background: -webkit-linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.settings-logo {
  background: -webkit-linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
