

main {
    margin: 0 5%;
    padding-top: 100px;
    padding-bottom: 100px;
}

body {
  /*   background-color: currentColor; */
}

.feat-heading {
    font-family: poppins;
    font-size: 48px;
    background: -webkit-linear-gradient(#EE0979, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cover-placeholder {
    border-radius: 10px;
    margin-bottom: 30px;
}