main {
  margin: 0 5%;
  padding-top: 100px;
  padding-bottom: 100px;
}

body {
  /* background-color: var(--background-color); */
}

.feat-heading {
  font-family: poppins;
  font-size: 48px;
  background: -webkit-linear-gradient(#ee0979, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover-placeholder {
  border-radius: 10px;
}

.placeholder-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 1rem;
}
