.play-heading {
    font-family: poppins;
    font-size: 48px;
    background: -webkit-linear-gradient(#EE0979, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 20;
} 

.title-of-playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-50 {
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
    z-index: 30;

}

.rock-ballads {
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
    z-index: 30;
}

.play-btn {
    background: -webkit-linear-gradient(#EE0979, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.songs-playtime {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.listen-all {
    width: 325px;
    height: 60px;
    border-radius: 70px;
    border-color: #EE0979;
    background-color: white;
    color: #EE0979;
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

.artist-name {
    font-family: 'Poppins', sans-serif;
}

.sound-wave {
    top: 0px;
    left: 0px;
    z-index: 0;
    position: fixed;
}