$gradientColor: -webkit-linear-gradient(#EE0979, #FF6A00);
$currentColor: #4d1f48;
$secondaryColor: #ffffff;
$mixGreenColor: #5EB11C - #3A7634;
$mixBlueColor: #00A1CB - #115793;
$darkPinkColor: #D70060;
$redOrangeColor: #E54028;
$orangeColor: #F18D05;
$yellowColor: #F2BC06;
$lightGreenColor: #5EB11C;
$darkGreenColor: #3A7634;
$lightBlueColor: #0ABEBE;
$mediumBlueColor: #00A1CB;
$darkBlueColor: #115793;
$lightPinkColor: #FF1168;
$blackColor: #111625;